
<button (click)="addJanela()">Abri janela</button>
<div id="window-wrapper">
  <div *ngFor="let window of windows;let i = index">
      <div class="drag-block" ngDraggable preventDefaultEvent ngResizable 
      [rzMinWidth]="200"
      [rzMinHeight]="200" 
      [handle]="myHandle"
      >
        <header  #myHandle>Janela - ID: {{window.id}} - <b (click)="fecharJanela(i)">Fechar</b></header>
        <section>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita harum cumque vero libero quibusdam in doloremque explicabo dignissimos aperiam blanditiis sequi distinctio dolor aut, fugit aliquam dicta. Ab, perspiciatis cumque.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita harum cumque vero libero quibusdam in doloremque explicabo dignissimos aperiam blanditiis sequi distinctio dolor aut, fugit aliquam dicta. Ab, perspiciatis cumque.         </section>
      </div>
    
  </div>
</div>
